@import "tailwindcss";

@theme {
  --color-brand: #6366f1;
  --color-brand-dark: #4f46e5;
  --color-accent: #f59e0b;
  --color-surface: #0f172a;
  --color-surface-2: #1e293b;
  --color-surface-3: #334155;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #0f172a;
  color: #f1f5f9;
  font-family: 'Inter', system-ui, sans-serif;
}
